# Virtual Environment
venv/
.venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment Variables
.env

# IDE
.vscode/
.idea/

# Mac
.DS_Store

# Logs
*.log

# Build Files
build/
dist/
*.egg-info/

# Testing
.pytest_cache/
.coverage

# Jupyter
.ipynb_checkpoints/

.gitignore
